<!--The content below is only a placeholder and can be replaced.-->
<!--<nav class="navbar navbar-light bg-light">-->
    <!--<a class="navbar-brand">Leave Management System</a>-->
    <!--<form class="form-inline">-->
        <!--&lt;!&ndash; <button class="btn btn-outline-success my-2 my-sm-0" type="submit">login</button> &ndash;&gt;-->
        <!--<a class="btn btn-primary" href="/login" role="button">Login</a>-->
        <!--<a class="btn btn-primary" href="/logout" role="button">Logout</a>-->
    <!--</form>-->
<!--</nav>-->


<!--<div style="text-align:center">-->
    <!--<h1>-->
        <!--Welcome to {{ title }}-->
    <!--</h1>-->

<!--</div>-->

<app-alert></app-alert>
<router-outlet></router-outlet>

